*{
    margin: 0;
    padding:0;
}
h1{
    font-size: 20px;
    padding-top: 20px;
    padding-left: 20px;
}
.service p2{
    font-size: 30px;
    padding-left: 20px;
    display:block;
}

body {
    height: 100%;
    text-align: left;
    background: #fdfdff;
    color: #192f60;
}
.container{
    width: 100%;
    float:center;
    display: inline-block;
}
.photo h3{
    font-size: 8px;
    font-size: 1.3rem;
    color: #192f60;
    padding: 0;
    margin: 0;
}
.photo{
    width: 30%;
    float: left;
    text-align: center;
    
}
.news,.work{
    width:100%;
    font-size:50px;
    height: 100px;
    
}
footer{
    float:left;
    font-size:5px ;
    background-color:#192f60 ;
    color: #fdfdff;
    width:100%;
}
.footer-text{
    padding: 20px;
    margin:20px ;
}
